@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;700&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

/* Підключення шрифтів */
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

/* Шапка */
header {
    text-align: center;
    padding: 10px;
}

header .logo h1 {
    margin: 10px;
    color: black;
    font-size: 28px;
}

.main-container {
    display: flex;
}

/* Сайдбар */
.sidebar {
    background-color: white;
    width: 45px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    position: sticky;
    top: 0;
}

.sidebar ul li {
    margin-bottom: 40px;
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    height: 100px;
    width: 100%;
}

.sidebar ul li a img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    transform: rotate(180deg);
}

/* Секція контенту */
.content {
    flex: 1;
    padding: 40px;
    background-color: white;
}

/* Початковий екран */
.fullscreen-intro {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('intro.jpg');
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #84b1bb;
    margin-bottom: 0px;
}

.fullscreen-intro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.intro-text {
    position: relative;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 1;
}

/* Анімація для плавної появи */
.intro-text {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h2 {
    font-size: 36px;
    color: #000;
    margin-bottom: 20px;
}

/* Послуги */
.services-wrapper {
    margin-bottom: 60px;
        /* Відступ між секціями */
    display: flex;
    align-items: flex-start;
    padding: 20px;
    justify-content: flex-end;
    /* Вирівнюємо з правої сторони */
}

.services-header {
    writing-mode: vertical-lr;
    text-align: center;
    font-size: 28px;
    color: #000;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-header h3 {
    transform: rotate(180deg); /* Поворот тексту */
    transform-origin: center center;
    font-size: larger;
}

.services-carousel {
    position: relative;
    background-color: #fff;
    padding: 30px;
    border-radius: 0px;
    overflow: hidden;
    width: 70vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    width: 75%;
}

.service-item {
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* Забороняємо зменшення елементів */
}

.service-item img {
    width: 60%;
    border-radius: 0px;
}

.service-title {
    position: absolute;
    right: 100px;
    top: 300px;
    background-color: #f9dce0;
    color: white;
    font-weight: 525;
    padding: 10px 15px;
    border-radius: 0px;
    font-size: 1.5rem;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f9dce0;
    color: white;
    font-weight: 550;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
}

.prev-btn {
    left: -10px;
}

.next-btn {
    right: -10px;
}

.services-footer {
    position: absolute;
    left: 225px;
    right: 10px;
    bottom: -905px;
    text-align: left;
    font-size: 28px;
    color: #000;
    writing-mode: horizontal-tb;
}

/* Працівники */
.masters-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.masters-section h3 {
    font-size: 26px;
    margin-bottom: 30px;
    text-align: center;
    color: black;
}

.master-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background-color: #fdfdfd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.master-item.reverse {
    flex-direction: row-reverse;
}

.master-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px;
}

.master-info {
    padding: 20px;
}

.master-info h4 {
    font-size: 20px;
    color: #84b1bb;
    margin-bottom: 10px;
}

.master-info p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.masters-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.masters-section::before,
.masters-section::after {
    content: '';
    position: absolute;
    opacity: 0.5;
    font-size: 38px;
    color: #ed8493;
    transform: rotate(-90deg);
    text-transform: uppercase;
    opacity: 0.5;
}

.masters-section::before {
    content: 'Наша';
    left: -60px;
    top: 50%;
    transform-origin: left center;
}

.masters-section::after {
    content: 'Команда';
    right: -60px;
    top: 50%;
    transform-origin: right center;
}

.master-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background-color: #fdfdfd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.master-item.reverse {
    flex-direction: row-reverse;
}

.master-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px;
}

.master-info {
    padding: 20px;
}

.master-info h4 {
    font-size: 20px;
    color: #84b1bb;
    margin-bottom: 10px;
}

.master-info p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

/* Секція запису */
.hidden {
    display: none;
}

.appointment-section {
    text-align: center;
    margin: 30px auto;
}

.show-form-btn {
    padding: 13px 50px;
    white-space: nowrap;
    font-size: 28px;
    font-weight: 400;
    color: black;
    border: 2px solid black;
    background-image: url('appoint-button.jpeg');
    background-size: cover;
    /* Адаптація зображення під розмір кнопки */
    background-position: center;
    /* Центрування зображення */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

.show-form-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.appointment-form {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #84b1bb;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.appointment-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.appointment-form label {
    display: block;
    margin-bottom: 8px;
    color: white;
}

.appointment-form input,
.appointment-form select,
.appointment-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.appointment-form input[type="date"] {
    padding: 8px;
}

.appointment-form button {
    width: 100%;
    padding: 12px;
    background-color: #2f3f50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.appointment-form button:hover {
    background-color: #6a9ba5;
}

/* Секція футеру */
footer {
    background-color: #84b1bb;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-info {
    flex: 1;
}

.social-links {
    flex: 0.5;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.social-links .contact-title {
    margin-bottom: 10px;
}

.social-links a {
    margin-left: 0;
    margin-bottom: 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
    margin-right: 12px;
}